<!DOCTYPE html>
<html>
<head>
	<title>Image watermark test</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="view/style.css" />
	<script src="js/jquery-1.12.3.min.js"></script>
	<script src="js/main.js"></script>
</head>
<body>
	<img src="index.php?c=image">
	<h1>Watermark sample</h1>
	<div class="alignment">
		<h3>Alignment of watermark</h3>
		<ul>
			<li data-mode="lt">Left top</li>
			<li data-mode="lb">Left bottom</li>
			<li data-mode="rt">Right top</li>
			<li data-mode="rb" class="active">Right bottom</li>
			<li data-mode="c">Center</li>
		</ul>
	</div>
</body>
</html>